# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.log

# Virtual environments
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.whl
*.tar.gz
*.zip

# PyInstaller
*.spec

# PyCharm
.idea/
*.iml

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Others
*.sqlite3
*.db
*.bak
